
back-end/local.properties
back-end/.idea

# dependencies
front-end/node_modules
front-end/.pnp
front-end/.pnp.js

# testing
/front-end/coverage

# production
/front-end/build

# misc
front-end/.env
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local

/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
# Ignore Gradle project-specific cache directory
.gradle
.vscode
.github
.idea

# Ignore Gradle build output directory
build
bin

/back-end/.DS_Store
.DS_Store
.metals/
.idea/