name: Puppeteer Tests

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install
      
    - name: Install Puppeteer
      run: npm install puppeteer
      
    - name: Install Google API
      run: npm install @react-google-maps/api
      
    - name: Install types jest
      run: npm i --save-dev @types/jest 
      
    - name: Install Jest
      run: npm install --save-dev ts-jest

    - name: Run Puppeteer tests
      run: npm test:jest --detectOpenHandles

      env:
        PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome-stable
